@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #03989E;
  height: 100vh;
  width: 100vw;
}

#nav {
  background: #00343C;
  height: 2.3rem;
  width: 100vw;
}

#header_1 {
  font-family: cursive;
  font-size: 1.5em;
  pointer-events: none;
}